$font: 'Roboto', sans-serif;
$primary-color: #601A7B;
$primary-color-lighter: #82258D;
$secondary-color: #FBBA00;
$secondary-color-lighter: #f9c42a;
$extra-color-1: #C77947;
$extra-color-2: #139B0E;
$extra-color-2-lighter: #21ba1b;
$extra-color-3: #1DA1DC;
$extra-color-3-lighter: #2cade8;
$extra-color-4: #EA5547;
$extra-color-4-lighter: #ea766b; 
$shadow: rgba(0,0,0,.2);
$warning: #B12D31;
$warning-lighter: #c24448;